aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
black==22.1.0
Brotli==1.0.9
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
disnake @ git+https://github.com/DisnakeDev/disnake@e2eb9f78a0e64de53297d3206a69a492905b76e6
frozenlist==1.3.0
idna==3.3
multidict==6.0.2
mypy-extensions==0.4.3
orjson==3.6.7
pathspec==0.9.0
platformdirs==2.5.1
pycares==4.1.2
pycparser==2.21
requests==2.27.1
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.9
yarl==1.7.2
